includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/tomasvotruba/bladestan/config/extension.neon
    - vendor/shipmonk/dead-code-detector/rules.neon

services:
    -
        class: App\PHPStan\LaravelUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider
        arguments:
            enabled: true

parameters:

    paths:
        - app/
        - routes/

    # Level 10 is the highest level
    level: 8

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
